.card {
  display: flex;
  width: calc(25% - 4rem - 1rem);
  flex-direction: column;
  padding: 2rem;
  background-color: $less_dark_color;
  border-radius: 2px;

  &:not(.readOnly):hover {
    background-color: $subtle_color;
    color: $backgound_color;
    cursor: pointer;
    transition: background-color 1s ease, 
                color 500ms ease-in;
  }

  &:not(.readOnly):hover &-meta:before {
    color: $backgound_color;
  }

  &-meta {
    font-size: .75rem;

    &:before {
      margin-right: 5px;
      font-weight: 100;
      color: $subtle_color;
      transition: color 500ms ease-in;
    }
  }
}


.dashboardCard {
  &-title {
    font-family: $title_font;
    font-size: 1.25rem;
    margin-bottom: .25rem;
  }

  &-value {
    font-size: 1.75rem;
  }
}

.pageCard {
  width: calc(33.33% - 4rem - 1rem);
  row-gap: .25rem;
  
  &-url {
    font-size: 1rem;
    font-weight: bolder;
  }

  &-status:before {
    content: 'Status';
  }
  
  &-linkCount:before {
    content: 'Links';
  }

  &-uniqueHosts:before {
    content: 'Hosts';
  }
}

.siteCard {
  width: calc(25% - 4rem - 1rem);
  row-gap: .25rem;
  
  &-name {
    font-size: 1rem;
    font-weight: bolder;
  }
  
  &-pages:before {
    content: 'Pages';
  }
}

.queueCard {
  padding: 1rem;
  width: calc(100% - 2rem);

  &-url {
    width: calc(100% - 3rem);
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  &-processing {
    display: none;
    position: absolute;
    right: 5rem;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    color: $base_color;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      color: $base_color;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }

    &:after {
      color: $flash_color;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }
  }

  &.processing &-processing {
    display: block;
  }
}

.linkCard {
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
}

.cooldownCard {
  padding: 1rem;
  width: calc(100% - 2rem);
  flex-direction: row;
  justify-content: space-between;

  &-date {
    & > label {
      color: $subtle_color;
      font-size: .75rem;
    }
  }
}

.textCard {
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  flex-direction: row;
  column-gap: 2rem;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}