@font-face {
  font-family: "Bebas Neue";
  src: url('/assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('/assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

$title_font: "Bebas Neue";
$data_font: "JetBrains Mono";

body {
  font-size: 16px;
  font-family: $data_font
}

h1,h2,h3,h4,h5,h6 {
  font-optical-sizing: auto;
  font-family: $title_font;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: initial;
}
