.search {
  .search-field {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;

    .clear-button {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 2rem;
      line-height: 2.25rem;
      border-radius: .75rem;
      background-color: $backgound_color;
      padding: 0;
      width: 2rem;
      height: 2rem;
      color: $base_color;

      &:hover {
        background-color: $less_dark_color;
      }
    }
  }
  
  .search-checkboxes {
    display: flex;
    flex-direction: row;
  }
}